@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Manrope", sans-serif;
}

.hero-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.image-search {
  width: 150px;
  height: 200px;
  object-fit: cover;
}

.product-image {
  width: 100%;
  height: 400px;
}

.logo-mobile {
  width: 120px;
  height: 60px;
}

@media screen and (min-width: 350px) {
  .image-arrivals {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .product-image {
    width: 100%;
    height: 400px;
  }

  .image-discover {
    width: 150px;
    height: 150px;
  }

  .image-dis {
    width: 200px;
    height: 200px;
  }

  .img-brands {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 768px) {
  .image-arrivals {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .product-image {
    width: 100%;
    height: 600px;
  }

  .image-discover {
    width: 350px;
    height: 350px;
  }

  .logo-desktop {
    width: 70px;
    height: 35px;
  }

  .img-brands {
    width: 50px;
    height: 50px;
  }
}
